<h1><%= @place.name %></h1>
<% if @current_user %>
<p>
  <a class="btn btn-success" href="/posts/new?place_id=<%= @place.id %>" role="button">New Post</a> 
</p>

<div class="row">
<% for post in @place.posts %>
<div class="col-md-6">
<% if post.user %>
    
  
  <p><%= post.title %></p>
  <p><%= post.posted_on %></p>

  <% if post.uploaded_image.attached? %>
  <img src="<%= url_for(post.uploaded_image) %>" class="image-fluid">
  <% else %>
  <img src="<%= post.image %>" class="image-fluid">
  <% end %>

  <p><%= post.description %></p>

<% else %>
<% end %>
<% end %>
<% end %>